@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-dark-text: #171618;
  --color-primary-blue: #2b44e7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.riusso-one {
  font-family: "RussoOne", sans-serif;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* Header */
.hamburger-line::before {
  @apply content-['']  w-[16.5px] h-[1.5px] bg-[#1D1D1D] rounded-full absolute bottom-1 transition duration-150;
}
.hamburger-line::after {
  @apply content-['']  w-[16.5px] h-[1.5px] bg-[#1D1D1D] rounded-full absolute top-1 transition duration-150;
}
.hamburger-btn.open .hamburger-line {
  @apply bg-transparent;
}
.hamburger-btn.open .hamburger-line::before {
  @apply rotate-45 bottom-0;
}
.hamburger-btn.open .hamburger-line::after {
  @apply -rotate-45 top-0;
}
